* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;


}

.telatoda {
    height: 100vh;
    width: 100vw;
}

.ladoesquerdo {
    display: inline-block;
    width: 60%;
    margin-top: 20%;
    margin-left: 40px;



}


.ladodireito {


    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    position: absolute;
    width: 40%;








}

img {
    margin-top: 150px;
    position: relative;
    right: 130px;



}

h1 {

    font-size: 70px;
    leading-trim: NONE;
    line-height: 80px;
    letter-spacing: 0px;

    width: 368px;
    height: 160px;
    angle: 0 deg;
    opacity: 1;
    color: #5D5D7D;




}

p {


    width: 540px;
    height: 144px;
    angle: 0 deg;
    opacity: 0.6;

    font-weight: 400px;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 48px;
    letter-spacing: 0px;

}

button {
    width: 269px;
    height: 62px;
    angle: 0 deg;
    opacity: 1;
    background-color: #9499EA;


    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 60px;
    color: aliceblue;


}

.menu {
    margin-left: 25px;
    margin-top: 40px;
    color: red;
}

.work-link {
    color: #333333;
}
